[Unit]
Description=CAM2 Footage Info Fetch Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/raspberrypi5/simple-cctv-hub/footage_info_fetch/fi_fetch_cam2.sh
User=raspberrypi5
Restart=always
RestartSec=20

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
