#browserOverlayContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-top: 10px;

    position: fixed;

    width: 95%;
    height: 95%;

    /* Centering */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;

    background-color: rgb(138, 138, 138);
}

#browserOverlayHeader {
    width: 90%;
    display: flex;
    flex-direction: row;
}

#browserOverlayTitle {
    font-size: 30px;
}

#browserOverlayDescriptorContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#browserOverlayVideoContainer {
    width: 90%;
    height: 90%;
    /* Centering */
    margin: auto;
}

