#footageOverlayContainer {
    width: 100%;
    height: 100%;
}

#footageOverlayContentWrapper {
    position: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

    padding-top: 10px;
    min-height: 200px;
    min-width: 200px;

    width: fit-content;
    height: 98%;

    /* Centering */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;

    background-color: black;
}

#footageOverlayHeader {
    display: flex;
    flex-direction: row;
    color: white;
    width: 90%;
}

#footageOverlayTitle {
    font-weight: 800;
    font-size: 30px;
}

#footageOverlayButtonContainer {
    min-height: fit-content;
    min-width: fit-content;
    gap: 10px;
}

#footageOverlayButtonContainer #exitFootageOverlayButton {
    width: fit-content;
}

#footageOverlayVideoContainer {
    display: flex;
    flex-direction: column;
    width: auto;         
    height: auto;        
    width: fit-content;      
    height: 95%;     
    box-sizing: border-box; 
    overflow: hidden;  
    align-items: center;  
}

#footageOverlayDescriptorContainer {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    width: fit-content;
    align-items: flex-start;
    gap: 15px;
    width: 90%;
}

#footageOverlayVideoContainer .video-wrapper {
    height: 90%;
    align-self: center;
    width: fit-content;
}

#footageOverlayVideoContainer video {
    width: fit-content;
}

#footageOverlayVideoContainer .resume-stop-time-container {
    width: 90%;
}

#footageOverlayContent {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#footageOverlayContainer .blocker-overlay {
    z-index: 10;
}



/* #footageOverlayDescriptorContainer > div {
} */