/* CSS styles for playing stored footage */

#footageOverlayHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#footageOverlayDescriptor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#footageOverlayPlayerTitle {
    font-weight: 800;
    font-size: 30px;
}

#footageOverlayButton #exitFootageOverlayButton {
    width: fit-content;
}

#footageOverlayButtonDescriptorTime {
    min-height: fit-content;
    min-width: fit-content;
}

#footageOverlayVideoContainer {
    width: auto;         
    height: auto;        
    width: fit-content;      
    box-sizing: border-box; 
    overflow: hidden;  
    align-self: center;
    align-items: center;  
}

#footageOverlayDescriptorContainer {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    width: fit-content;
    align-items: flex-start;
    gap: 15px;
    width: 90%;
}

#footageOverlayVideoContainer .video-wrapper {
    height: 90%;
    align-self: center;
    width: fit-content;
}

#footageOverlayVideoContainer .resume-stop-time-container {
    width: 90%;
}

#footageOverlayContent {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}