#streamOverlayContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 100%;
    padding: 7px;
    padding-top: 15px;

    position: fixed;

    width: fit-content;
    height: 96%;

    /* Centering */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;

    background-color: black;
}

#streamOverlayHeader {
    font-size: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#streamOverlayTitle {
    width: fit-content;
}

#streamOverlayDescriptor {
    flex: 0 1 auto;
}

#streamOverlayContainer {
    flex: 1 1 auto;
}

#streamOverlayContainer video {
    width: fit-content;
}

#streamOverlayButtonContainer {
    min-height: 55px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: auto;
    width: fit-content;
}

#streamOverlayDescriptorContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#streamOverlayVideoContainer {
    width: fit-content;
    /* Centering */
    flex: 1 1 auto;
    height: 85%;
    align-self: center;
    width: fit-content;
}