[Unit]
Description=Start FFMPEG cameras stream download
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/screen -DmS cam_file_dl /home/raspberrypi5/simple-cam-hub/scripts/cam_file_download.sh
User=raspberrypi5
Restart=always
RuntimeMaxSec=1d
RestartSec=20

[Install]
WantedBy=multi-user.target
