html, body {
    height: 100%; /* Ensure html and body take up full height */
    margin: 0; /* Remove default margins */
}

button {
    min-height: 30px;
    max-height: 90%;
    font-size: 20px;
    border-color: black;
    background-color: #004080;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

video {
    height: 100%;
    width: 100%;
}