#videoContainer {
    display: flex; /* Use flex to arrange video wrappers */
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap into new rows */
    justify-content: center; /* Center align items horizontally */
    align-content: center; /* Center align items vertically */
    padding: 10px; /* Add some padding around the container */
    overflow: hidden; /* Prevent overflow if content is too tall */
    gap: 10px; /* Space between the stream containers */
}

.stream-container {
    background-color: rgb(0, 0, 0); /* Just for visibility */
    display: flex; /* Use flex to arrange items */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    padding: 7px; /* Add some padding for aesthetics */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    gap: 4px;
    flex: 1 1 calc(50% - 20px); /* Take up 50% of the container width, minus the gap */
    max-width: calc(47% - 20px); /* Ensure two containers fit side by side */
}

@media (max-width: 800px) {
    .stream-container {
        flex: 1 1 100%; /* On smaller screens, make the containers take up the full width */
        max-width: 100%;
    }
}
.stream-container-video-wrapper {
    flex: 1 1 auto;
}

.stream-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

#streamsTitle {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.stream-controls-container {
    display: flex;
    gap: 10px;
}