.progress-wrapper {
    position: relative;
    width: 98%;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    align-self: center;
    height: 9px;
}


.controls-container div {
    transition: width 0.3s ease;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: gray;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    background-color: red;
    container-type: inline-size;
    border-radius: 2px;
}

.position-circle {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: red;
    transform: translateX(5%) translateY(-50%) translateY(+4px) translateX(calc(100cqw - 100%));
}

.video-timestamp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
    gap: 10px;
}

.video-timestamp-content {
    color: white;
    text-align: center;
    font-size: 20px; 
}

.video-timestamp-header {
    color: white;
    text-align: center;
    font-size: 20px; 
}


.resume-stop-time-container {
    padding-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.factory-created-stored-video {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: fit-content;
    box-sizing: border-box;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
    object-fit: contain;
}

.video-finished-overlay {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    font-size: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.video-finished-header {
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
}


.controls-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 1 auto;  
    box-sizing: border-box;
    gap: 5px;
}